@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/public-sans-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
/* public-sans-700 - latin */
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "Public Sans";
  font-style: normal;
  font-weight: 700;
  src: url("../fonts/public-sans-v15-latin-700.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
@font-face {
  font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
  font-family: "DM Serif Display";
  font-style: normal;
  font-weight: 400;
  src: url("../fonts/dm-serif-display-v15-latin-regular.woff2") format("woff2"); /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
}
html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*, *::after, *::before {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

a {
  text-decoration: none;
}

ul, ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

body {
  margin: 0;
  font-family: "Public Sans";
}

img {
  max-width: 100%;
  height: auto;
}

h1, h2, h3, h4, h5, p {
  margin: 0;
}

.container {
  max-width: 1150px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 20px;
  padding-right: 20px;
}

.header {
  padding-top: 40px;
  padding-left: 4px;
  padding-right: 4px;
  position: absolute;
  width: 100%;
}

.header__block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 40px;
  display: none;
}

.header__btn {
  color: #fbfcfe;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  padding: 16px 24px 14px 26px;
  border-radius: 24px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background-color: #ba4270;
  display: none;
}

.header__menu {
  width: 28px;
  height: 17px;
  border: none;
  background-color: inherit;
  background-image: url(/img/menu.svg);
  background-repeat: no-repeat;
}

.header__link {
  color: #36536b;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  opacity: 0.7;
}
.header__link:hover {
  opacity: 1;
}

@media screen and (min-width: 768px) {
  .header {
    padding-left: 19px;
    padding-right: 20px;
  }
  .header__menu {
    display: none;
  }
  .header__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 64px;
  }
  .header__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .header__btn {
    display: block;
  }
}
.hero {
  padding-top: 126px;
  background-image: url(/img/_p_hero_bg.svg);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position: top right;
}

.hero__title {
  text-align: center;
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
}

.hero__list {
  text-align: center;
}

.hero__sub_title {
  color: #ba4270;
  font-family: DM Serif Display;
  font-size: 24px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: -0.18px;
  padding-top: 48px;
}

.hero__text {
  color: rgb(108, 130, 148);
  font-size: 15px;
  font-weight: 100;
  line-height: 28px;
  padding-top: 17px;
}

.hero__num {
  color: #36536b;
  font-family: DM Serif Display;
  font-size: 56px;
  font-weight: 400;
  line-height: 72px;
  letter-spacing: -0.43px;
}

.hero__line {
  display: block;
  background-color: #36536b;
  opacity: 0.25;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.hero__sub_item {
  max-width: 134px;
  margin-left: auto;
  margin-right: auto;
}

.hero__sub_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  color: #36536b;
  font-size: 16px;
  font-weight: 400;
  line-height: 28px;
  text-align: left;
  margin-top: 8px;
}

.hero__check::before {
  content: "";
  display: block;
  background-image: url(/img/pricing_check.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 12px;
  height: 8px;
}

.hero__check_two::before {
  content: "";
  display: block;
  width: 12px;
  height: 8px;
}

.hero__line {
  display: block;
  background-color: #36536b;
  opacity: 0.25;
  height: 1px;
  margin-top: 24px;
  margin-bottom: 24px;
}

.hero__btn {
  color: rgb(54, 83, 107);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  letter-spacing: -0.12px;
  border: 1px solid rgb(54, 83, 107);
  border-radius: 24px;
  display: block;
  max-width: 168px;
  padding-top: 16px;
  padding-bottom: 14px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .hero__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    gap: 10px;
  }
  .hero {
    background-image: url(/img/_p_hero_bg_tab.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: top right;
  }
}
@media screen and (min-width: 992px) {
  .hero {
    background-image: url(/img/_p_hero_bg_desc.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position: top right;
  }
  .hero__list {
    text-align: left;
    gap: 30px;
  }
  .hero__sub_item {
    margin-left: 0;
    margin-right: 0;
  }
  .hero__btn {
    margin-left: 0;
    margin-right: 0;
  }
}
.start {
  padding-top: 80px;
  padding-bottom: 80px;
}

.start__title {
  color: rgb(54, 83, 107);
  font-family: DM Serif Display;
  font-size: 32px;
  font-weight: 400;
  line-height: 36px;
  letter-spacing: -0.25px;
  text-align: center;
}

.start__input {
  display: block;
  color: rgb(54, 83, 107);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  opacity: 0.5;
  border-radius: 24px;
  -webkit-box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
          box-shadow: 10px 10px 25px -10px rgba(54, 83, 107, 0.25);
  background-color: #fbfcfe;
  padding-top: 16px;
  padding-bottom: 14px;
  padding-left: 27px;
  max-width: 327px;
  width: 100%;
  margin-top: 32px;
  margin-left: auto;
  margin-right: auto;
  border: none;
}

.start_btn {
  display: block;
  color: #fbfcfe;
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  border-radius: 24px;
  background-color: #ba4270;
  border: none;
  padding: 16px 46px 14px 50px;
  max-width: 327px;
  width: 100%;
  margin-top: 16px;
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .start__input_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    position: relative;
    max-width: 445px;
    margin-left: auto;
    margin-right: auto;
  }
  .start_btn {
    max-width: 193px;
    padding-left: 26px;
    padding-right: 24px;
    position: absolute;
    top: 16px;
    left: 53%;
  }
  .start__input {
    margin-left: 30px;
    height: 48px;
    margin-left: 0;
    margin-right: 0;
  }
}
@media screen and (min-width: 992px) {
  .start__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .start__input_block {
    display: block;
    position: relative;
    width: 445px;
  }
  .start_btn {
    top: -17px;
  }
}
.footer {
  background-color: #1b262f;
}

.footer__bg {
  background-image: url(/img/footer_bg_mobile.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: bottom;
  padding-bottom: 55px;
  padding-top: 41px;
}

.footer__block {
  text-align: center;
}

.footer__list {
  padding-top: 9px;
}

.footer__item {
  margin-top: 31px;
}

.footer__link {
  color: rgb(251, 252, 254);
  font-size: 15px;
  font-weight: 700;
  line-height: 18px;
  opacity: 0.7;
}

.footer__icon_block {
  margin-top: 39px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 24px;
}

@media screen and (min-width: 768px) {
  .footer__bg {
    padding-top: 0;
    padding-bottom: 31px;
    background-image: url(/img/footer_bg_tablet.svg);
    background-repeat: no-repeat;
    background-position: right;
  }
  .footer__block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__box {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .footer__list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    gap: 40px;
    margin-left: 64px;
  }
  .footer__logo {
    max-width: 135px;
    margin-top: 38px;
  }
}/*# sourceMappingURL=pricing.css.map */